.flex {
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-left {
  justify-content: left;
}

.flex-right {
  justify-content: right;
}
