$path-sprite: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714120930/image/icons/general/Sprites_zv9wnv.svg";
.mi {
  background: url($path-sprite) no-repeat;
  cursor: pointer;
}

.mi-14 {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
}

.mi-16 {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
.mi-24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.mi-32 {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}

.mi-48 {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.mi-app {
  background-position: -428px -92px;
}

/*  icon cho sidebar  */
.mi-sidebar-dashboard {
  background-position: -33px -1630px;
}
.menu-item:active .mi-sidebar-dashboard,
.menu-item:focus .mi-sidebar-dashboard {
  background-position: -33px -1587px;
}
/* --- */
.mi-sidebar-cash {
  background-position: -78px -1631px;
}
.menu-item:active .mi-sidebar-cash,
.menu-item:focus .mi-sidebar-cash {
  background-position: -78px -1588px;
}
/* ----- */
.mi-sidebar-bank {
  background-position: -121px -1633px;
}
.menu-item:active .mi-sidebar-bank,
.menu-item:focus .mi-sidebar-bank {
  background-position: -121px -1590px;
}
/* -- Mua hàng -- */
.mi-sidebar-purchase {
  background-position: -165px -1632px;
}
.menu-item:active .mi-sidebar-purchase,
.menu-item:focus .mi-sidebar-purchase {
  background-position: -165px -1589px;
}
/* ----- */
.mi-sidebar-sale {
  background-position: -206px -1631px;
}
.menu-item:active .mi-sidebar-sale,
.menu-item:focus .mi-sidebar-sale {
  background-position: -206px -1588px;
}
/* ----- */
.mi-sidebar-invoice {
  background-position: -254px -1632px;
}
.menu-item:active .mi-sidebar-invoice,
.menu-item:focus .mi-sidebar-invoice {
  background-position: -254px -1589px;
}
/* ----- */
.mi-sidebar-stock {
  background-position: -294px -1632px;
}
.menu-item:active .mi-sidebar-stock,
.menu-item:focus .mi-sidebar-stock {
  background-position: -294px -1589px;
}
/* ----- */
.mi-sidebar-tools {
  background-position: -339px -1633px;
}
.menu-item:active .mi-sidebar-tools,
.menu-item:focus .mi-sidebar-tools {
  background-position: -339px -1590px;
}
/* ----- */
.mi-sidebar-fixed-asets {
  background-position: -382px -1632px;
}
.menu-item:active .mi-sidebar-fixed-asets,
.menu-item:focus .mi-sidebar-fixed-asets {
  background-position: -382px -1589px;
}
/* ----- */
.mi-sidebar-tax {
  background-position: -427px -1634px;
}
.menu-item:active .mi-sidebar-tax,
.menu-item:focus .mi-sidebar-tax {
  background-position: -427px -1591px;
}
/* ----- */
.mi-sidebar-price {
  background-position: -470px -1633px;
}
.menu-item:active .mi-sidebar-price,
.menu-item:focus .mi-sidebar-price {
  background-position: -470px -1590px;
}
/* ----- */
.mi-sidebar-general {
  background-position: -514px -1632px;
}
.menu-item:active .mi-sidebar-general,
.menu-item:focus .mi-sidebar-general {
  background-position: -514px -1590px;
}
/* ----- */
.mi-sidebar-budget {
  background-position: -382px -1664px;
}
.menu-item:active .mi-sidebar-budget,
.menu-item:focus .mi-sidebar-budget {
  background-position: -427px -1664px;
}
/* ----- */
.mi-sidebar-finance {
  background-position: -207px -1667px;
}
.menu-item:active .mi-sidebar-finance,
.menu-item:focus .mi-sidebar-finance {
  background-position: -251px -1667px;
}
/* ----- */
.mi-sidebar-report {
  background-position: -552px -1636px;
}
.menu-item:active .mi-sidebar-report,
.menu-item:focus .mi-sidebar-report {
  background-position: -552px -1593px;
}

/* --------  icon cho header   -------- */
.mi-three-stripes {
  background-position: -845px -30px;
}

// Quả chuông
.mi-bell {
  background-position: -788px -30px;
}
.mi-user-avatar {
  background-position: -352px -894px;
}
.mi-chev-ron-down {
  background-position: -465px -408px;
}
.mi-chevron-right {
  background-position: -1124px -357px;
}

/* icon cho main-content */
.mi-search {
  background-position: -425px -33px;
}

.mi-refresh {
  background-position: -1024px -29px;
}
a:hover .mi-refresh {
  background-position: -493px -31px;
}

.mi-arrow-up-blue {
  background-position: -895px -358px;
}

/* ----- mi-arrow-dropdown trong pagination ----- */
.mi-arrow-dropdown {
  background-position: -561px -359px;
}
.mi-arrow-dropdown--close {
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}
.mi-arrow-dropdown--open {
  transform: rotate(180deg);
  transition: transform 0.15s linear;
}

/* ------ icons trong popup form-detail nhân viên ------ */

.mi-help {
  background-position: -89px -144px;
}
.mi-close {
  background-position: -144px -144px;
}
.mi-tick {
  background-position: -1291px -557px; // Cho mi-24 trở lên.
  //background-position: -1296px -564px; // Cho mi-16 trở xuống.
}
.mi-calendar {
  background-position: -128px -312px;
}

/* ------ icons trong dialog ------ */
.mi-warning {
  background-position: -593px -145px;
}

/* ------ icons trong toast ------ */
.mi-success {
  background-position: -1602px -258px;
}

.mi-error {
  background-position: -762px -146px; /* icon chưa hoàn toàn chính xác theo zero */
}

.mi-info {
  background-position: -706px -146px; /* icon chưa hoàn toàn chính xác theo zero */
}

.mi-excel {
  background-position: -704px -256px;
}
a:hover .mi-excel {
  background-position: -704px -200px;
}

.mi-delete {
  background-position: -464px -313px;
}

/* ========== Pagination ========== */
.mi-previous-page {
  background-position: -29px -356px;
}
.disabled .mi-previous-page {
  background-position: -29px -404px;
}
.mi-next-page {
  background-position: -77px -356px;
}
.disabled .mi-next-page {
  background-position: -77px -404px;
}

/* ========== Social Media Icons ========== */

// Facebook
$path-facebook: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286169/image/icons/logo/logo-facebook_wchsli.svg";
.mi-facebook {
  background-color: var(--color-icon-facebook);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-facebook);
  -webkit-mask-image: url($path-facebook);
}

// Google
$path-google: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286172/image/icons/logo/logo-google_e9dgmh.svg";
.mi-google {
  background: url($path-google) no-repeat;

  background-size: cover;
}

// Android
$path-android: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286165/image/icons/logo/logo-android_uvwxla.svg";
.mi-android {
  background-color: var(--color-icon-android);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-android);
  -webkit-mask-image: url($path-android);
}

// IOS
$path-ios: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286160/image/icons/logo/logo-apple_xfk30s.svg";
.mi-ios {
  background-color: var(--color-icon-twitter);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-ios);
  -webkit-mask-image: url($path-ios);
}

// Discord
$path-discord: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286162/image/icons/logo/logo-discord_kvxenc.svg";
.mi-discord {
  background-color: var(--color-icon-discord);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-discord);
  -webkit-mask-image: url($path-discord);
}

// Instagram
$path-instagram: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286175/image/icons/logo/logo-instagram_prk5nx.svg";
.mi-instagram {
  background: var(--color-icon-instagram);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-instagram);
  -webkit-mask-image: url($path-instagram);
}

// Tiktok
$path-tiktok: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286437/image/icons/logo/logo-tiktok_eahecn.svg";
.mi-tiktok {
  background-color: var(--color-icon-tiktok);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-tiktok);
  -webkit-mask-image: url($path-tiktok);
}

// Twitter
$path-twitter: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286446/image/icons/logo/logo-twitterx_sltwk8.svg";
.mi-twitter {
  background-color: var(--color-icon-twitter);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-twitter);
  -webkit-mask-image: url($path-twitter);
}

// Youtube
$path-youtube: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714286448/image/icons/logo/logo-youtube_hgwrvs.svg";
.mi-youtube {
  background-color: var(--color-icon-youtube);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-youtube);
  -webkit-mask-image: url($path-youtube);
}

/* ========== Icon FontAwesome ==========*/

$path-arrow-left: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714120919/image/icons/general/arrow-left_u4hutw.svg";
.mi-arrow-left {
  background-color: var(--color-white);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-arrow-left);
  -webkit-mask-image: url($path-arrow-left);
}

$path-ellipsis: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714120926/image/icons/general/ellipsis_sflpto.svg";
.mi-ellipsis {
  background-color: var(--color-white);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-ellipsis);
  -webkit-mask-image: url($path-ellipsis);
}

$path-language: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714311914/image/images/language/icons8-language-50_exxofh.png";
.mi-language {
  background: var(--color-icon-instagram);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-language);
  -webkit-mask-image: url($path-language);
}

$path-language-world: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714311913/image/images/language/icons8-language-skill-50_gbyxzf.png";
.mi-language-world {
  background: var(--color-icon-instagram);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-language-world);
  -webkit-mask-image: url($path-language-world);
}

$path-play-white: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714120928/image/icons/buttonplay/play-white_fmfipn.svg";
.mi-play-white {
  background: url($path-play-white) no-repeat;
  background-size: cover;
}

$path-computer: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714120925/image/icons/buttonplay/computer_wrhrbs.svg";
.mi-computer {
  background: url($path-computer) no-repeat;
  background-size: cover;
}

$path-tournaments: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714381807/image/icons/buttonplay/tournaments_sbpcwt.svg";
.mi-tournaments {
  background: url($path-tournaments) no-repeat;
  background-size: cover;
}

// Tia chớp
$path-blitz: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714381802/image/icons/buttonplay/blitz_dsoblu.svg";
.mi-blitz {
  background: url($path-blitz) no-repeat;
  background-size: cover;
}

$path-handshake: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714381801/image/icons/buttonplay/handshake_k9i1jt.svg";
.mi-handshake {
  background: url($path-handshake) no-repeat;
  background-size: cover;
}

// Lưu trữ
$path-archive: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714404476/image/icons/game/archive_lxursx.svg";
.mi-archive {
  background: url($path-archive) no-repeat;
  background-size: cover;
}

// Bảng xếp hạng
$path-leaderboard: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714404476/image/icons/game/leaderboard_smaqb2.svg";
.mi-leaderboard {
  background: url($path-leaderboard) no-repeat;
  background-size: cover;
}

// Đồng hồ
$path-clock: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714446650/image/icons/general/alarm-clock-50_g4evwq.png";
.mi-clock {
  background-color: #1f1f1f;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-clock);
  -webkit-mask-image: url($path-clock);
}

// Viên đạn
$path-ammo: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714497740/image/icons/game/ammo-64_i9ooxr.png";
.mi-ammo {
  background-color: #1f1f1f;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-ammo);
  -webkit-mask-image: url($path-ammo);
}

// Bạn bè
$path-friends: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714497739/image/icons/game/friends-50_jn62o9.png";
.mi-friends {
  background-color: #1f1f1f;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-friends);
  -webkit-mask-image: url($path-friends);
}

// Thêm mới, add
$path-add-new: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714497740/image/icons/game/add-50_cscinx.png";
.mi-add-new {
  background-color: #1f1f1f;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-add-new);
  -webkit-mask-image: url($path-add-new);
}

// Bàn cờ
$path-chessboard: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714497739/image/icons/game/chessboard-48_fukbrc.png";
.mi-chessboard {
  background-color: #1f1f1f;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-chessboard);
  -webkit-mask-image: url($path-chessboard);
}

// Tia sét
$path-lightning: "https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714497739/image/icons/game/lightning-50_zzilrs.png";
.mi-lightning {
  background-color: #1f1f1f;

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-size: cover;
  -webkit-mask-size: cover;

  mask-image: url($path-lightning);
  -webkit-mask-image: url($path-lightning);
}
