@import url(./base.scss);
@import url(./icon.scss);
@import url(./scroller.scss);
@import url(./chess-main.scss);
@import url(./extension-flexbox.scss);
@import url(./extension-user-select.scss);

/* Định nghĩa css chung */
* {
  font-family: NVD Fonts;
  font-size: var(--font-size-mobile); /* mobile */
  color: #212121;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-transform: none;

  /* Tablet */
  @media screen and (min-width: 600px) {
    font-size: var(--font-size-tablet);
  }

  /* Desktop */
  @media screen and (min-width: 768px) {
    font-size: var(--font-size-desktop);
  }
}
