.container {
  width: 100vw;
  height: 100vh;
  gap: 0;

  .main {
    height: 100vh;
    background-color: var(--main-background-color);

    flex-grow: 1;
    width: 100%; // Mobile
    /* ========== Large Laptops ========== */
    @media screen and (min-width: 1024px) {
      width: 80%;
    }
  }
}
