.m-textfield {
  position: relative;

  // Input
  input {
    display: block;
    width: 100%;
    height: var(--btn-height-mobile);
    @media screen and (min-width: 768px) {
      height: var(--btn-height-tablet);
    }
    @media screen and (min-width: 1024px) {
      height: var(--btn-height-desktop);
    }
    border-radius: var(--border-radius-default); /* zero */
    background-color: #fff; /* zero */
    border: solid 1px #ebebeb; /* zero */
    padding: 0 12px; /* zero */

    // Placeholder
    &::placeholder {
      color: #9e9e9e; /* zero */
      font-weight: 400; /* zero */
      letter-spacing: 0; /* Trong zeroheight ghi 14px */
      line-height: 14px; /* zero */
    }

    // Hover input
    &:hover {
      background-color: #f6f6f6; /* zero */
    }

    // Focus input
    &:focus {
      background-color: #fff; /* zero */
      border-color: #50b83c; /* zero */
      outline: none;
    }

    // Disabled input
    &:disabled {
      background-color: #f6f6f6; /* zero */
      border-color: #ebebeb; /* zero */
      cursor: not-allowed;

      &:hover {
        background-color: #f6f6f6; /* zero */
      }
    }

    // Input warning
    &.warning {
      border: solid 1px red;
    }
  }

  // KHÔNG CÓ Icon action
  a {
    display: none;
  }

  /* ------------------- INPUT CÓ ICON TĨNH ------------------- */
  &.m-textfield-icon {
    // Input
    input {
      padding-right: 28px;
      background-image: url(../../../assets/icons/magnifying-glass-solid.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: right 8px center;
    }

    // Icon
    a {
      display: none;
    }
  }

  /* ------------------- INPUT CÓ ICON ACTION ------------------- */
  &.m-textfield-icon-action {
    display: flex;

    // Input
    input {
      padding-right: 30px; /* zero: 20px (icon) + 8px (pading-right-input) = 28px */
    }

    // Icon Actions
    a {
      position: relative; /* zero */
      right: 28px; /* zero: 20px (icon) + 8px (pading-right-input) = 28px */
      width: 20px; /* Kích thước icon */
      height: var(--btn-height-mobile);
      @media screen and (min-width: 768px) {
        height: var(--btn-height-tablet);
      }
      @media screen and (min-width: 1024px) {
        height: var(--btn-height-desktop);
      }
      display: flex;
      align-items: center;
      justify-content: center;

      // Icon Action Focus
      &:focus {
        outline: #2ca01c solid 1px;
      }
    }
  }

  /* ===== WARNING ===== */
  span.warning {
    position: absolute;
    top: calc(100% + 8px);
    color: red;
    font-size: 12px;
    font-weight: 400;
  }
}
