.m-textfield {
  position: relative;

  // Input
  input {
    display: block;
    width: 100%;
    height: calc(var(--btn-height-desktop) / 14 * 1rem);

    border-radius: var(--border-radius-default); /* zero */
    background-color: #fff; /* zero */
    border: solid 1px #ebebeb; /* zero */
    padding: 0 calc(12 / 14 * 1rem); // 12px ~ font 14px

    // Placeholder
    &::placeholder {
      color: #9e9e9e; /* zero */
      font-weight: 400; /* zero */
      letter-spacing: 0; /* Trong zeroheight ghi 14px */
      line-height: 1rem; /* zero */
    }

    // Hover input
    &:hover {
      background-color: #f6f6f6; /* zero */
    }

    // Focus input
    &:focus {
      background-color: var(--color-white); /* zero */
      border-color: #50b83c; /* zero */
      outline: none;
    }

    // Disabled input
    &:disabled {
      background-color: #f6f6f6; /* zero */
      border-color: #ebebeb; /* zero */
      cursor: not-allowed !important;

      &:hover {
        background-color: #f6f6f6; /* zero */
      }
    }

    // Input warning
    &.warning {
      border: solid 1px red;
    }
  }

  // KHÔNG CÓ Icon action
  a {
    display: none;
  }

  /* ------------------- INPUT CÓ ICON TĨNH ------------------- */
  &.m-textfield-icon {
    // Input
    input {
      padding-right: 28px;
      background-image: url(../../../assets/icons/magnifying-glass-solid.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: right 8px center;
    }

    // Icon
    a {
      display: none;
    }
  }

  /* ------------------- INPUT CÓ ICON ACTION ------------------- */
  &.m-textfield-icon-action {
    display: flex;

    // Input
    input {
      /* zero: 20px (icon) + 8px (pading-right-input) = 28px, đặt là 30px */
      padding-right: calc(30 / 14 * 1rem);
    }

    // Icon Actions
    a {
      position: absolute; /* zero */
      /* zero: 20px (icon) + 8px (pading-right-input) = 28px */
      // right: calc(28 / 14 * 1rem); /* zero */
      right: 0;
      /* Kích thước icon */
      // width: calc(20 / 14 * 1rem); /* zero */
      width: calc(25 / 14 * 1rem);
      height: calc(var(--btn-height-desktop) / 14 * 1rem);

      display: flex;
      align-items: center;
      justify-content: center;

      // Icon Action Focus
      &:focus {
        outline: #2ca01c solid 1px;
      }
    }
  }

  /* ===== WARNING ===== */
  span.warning {
    z-index: 100;
    position: absolute;
    top: calc(100% + 0.8rem); // 100% + 8px;
    color: var(--color-btn-google);
    border: 1px solid var(--color-btn-google);
    border-radius: var(--border-radius-default);
    font-size: 12px;
    font-weight: 400;
    background-color: var(--color-white);
    padding: 1rem;

    /* Thêm mũi tên */
    &:before {
      content: "";
      position: absolute;
      top: calc(-0.5rem * 2);
      left: 10%;
      margin-left: 0;
      border-width: 0.5rem;
      border-style: solid;
      border-color: transparent transparent var(--color-btn-google) transparent;
    }
  }
}
