.game-sidebar {
  height: 100%;

  nav.direct-menu-header {
    width: 100%;
    text-align: center;
    gap: 0;
    @media screen and (min-width: 768px) {
      height: 8%;
    }

    .direct-menu-item {
      width: calc(100% / 3);
      height: 100%;
      flex-grow: 1;
      gap: 0;

      &:hover {
        cursor: pointer;
      }

      &.section-selected {
        border-bottom: 0.2rem solid var(--control-border-color--active);
        background: var(--color-bg-section-selected);
        border-radius: var(--border-radius-default);
      }

      // .text {
      // }
    }
  }

  .option-menu-main {
    // border: 1px solid red;
    flex-grow: 1;
    width: 100%;
    @media screen and (min-width: 768px) {
      height: calc(100% - 8%);
    }

    section {
      background: var(--color-bg-section-selected);
      height: 100%;
      padding: 0.5rem;

      // Section New Game
      &.new-game {
        // Có sẵn Scroll-y
        .direct-menu-items {
          // border: 1px solid red;
          flex-grow: 1;

          width: 60%; // Mobile 320px
          @media screen and (min-width: 768px) {
            width: 100%;
            max-height: calc(100% - 8%); // Footer: 8%
          }

          .game-mode {
            width: 100%;

            // Button Mode Game
            a.btn-mode-game-selected {
              background: var(--color-bg-section);
              border: 1px solid var(--color-bg-login);
              border-radius: var(--border-radius-default);
              position: relative;
              height: calc(56 / 14 * 1rem);
              min-width: max-content;
              padding: 0.5rem;

              &:hover {
                cursor: pointer;
              }

              .text {
                font-size: calc(17 / 14 * 1rem);
              }

              // Icon Arrow Dropdown
              .mi-arrow-dropdown {
                position: absolute;
                top: 50%;
                right: 0.5rem;
                transform: translateY(-50%);
              }
            }

            .options-mode-game {
              .option-mode-game-category {
                margin: 0.5rem 0;
                label {
                  gap: 0;

                  // .title-category {
                  // }
                }

                .option-mode-game-group {
                  // Thẻ a
                  .option-mode-game-item {
                    width: calc((100% - 2rem) / 3);
                    text-align: center;
                    line-height: calc(46 / 14 * 1rem);
                    background: var(--color-bg-section);
                    outline: 1px solid transparent;
                    border-radius: var(--border-radius-default);

                    &:hover,
                    &:focus,
                    &:active,
                    &:focus-visible {
                      outline: 1px solid
                        var(--primary-btn--hover-background-color);
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }

          // Button PLAY
          .btn-play {
            width: 100%;
            height: calc(60 / 14 * 1rem);
            font-size: calc(22 / 14 * 1rem);
            font-family: montserrat sansita;
          }

          .group-play-other {
            width: 100%;

            .btn-play-friend,
            .btn-tournaments {
              width: 100%;
              margin-top: var(--gap);
              height: calc(60 / 14 * 1rem);
              font-size: calc(22 / 14 * 1rem);
              font-family: montserrat sansita;
            }
          }
        }

        //footer
        .direct-menu-footer {
          width: 100%;
          // border: 1px solid red;
          @media screen and (min-width: 768px) {
            height: 8%;
          }

          .information {
            text-wrap: nowrap;
            .number {
              font-size: calc(15 / 14 * 1rem);
              font-weight: 700;
              font-family: montserrat NVD Fonts;
              margin-right: 0.5rem;
            }
            .text {
              font-size: calc(12 / 14 * 1rem);
              text-transform: uppercase;
            }
          }
        }
      }

      // Section Games
      &.games {
        // Tab navigation
        // border: 1px solid red;
        nav.tab-list {
          // border: 1px solid red;
          width: 100%;
          height: 5%;
          .tab-item {
            border: none;
            background: transparent;
            width: 50%;
            height: 100%;

            &:hover {
              cursor: pointer;
            }

            &.tab-item-active {
              border-bottom: 0.2rem solid var(--color-btn-google);
              color: var(--color-btn-google);
            }
          }
        }

        // Tab Archive
        .content-tab-archive {
          border: 1px solid red;
          width: 100%;
          height: calc(100% - (36 / 14 * 1rem) - var(--gap));
          // Input search

          // Danh sách lịch sử ván đấu - có sẵn scroll-y
          .list-archives {
            // border: 1px solid red;
            width: calc(100% - (6 / 14 * 1rem)); // Trừ phần đường ray scroll
            height: 100%;

            max-width: none;
            max-height: none;
            flex-grow: 1;

            // Không có trận đấu nào
            .no-match-found {
              text-align: center;
            }

            // Bảng trận đấu
            .table-archive {
              table-layout: fixed;
              border-collapse: collapse;
              width: 100%;

              tr {
                height: calc(48 / 14 * 1rem);

                /* Hover row */
                &:hover td {
                  cursor: pointer;
                  background-color: #f2f2f2; /* zero */
                }

                /* Hàng cuối không có viền dưới */
                &:last-child td {
                  border-bottom: none;
                }

                td {
                  border-bottom: 1px dotted var(--color-icon-youtube); /* viền dưới nét liền */
                  border-left: 1px dashed var(--color-icon-youtube); /* viền trái nét đứt */
                  background-color: var(--color-bg-section);
                  height: calc(48 / 14 * 1rem);
                  padding: 0 0.25rem;
                  user-select: none;
                  -webkit-user-select: none;
                  max-width: 0;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis; /* hiển thị ... khi không đủ chiều rộng */

                  /* Xóa padding của thẻ <td> đầu tiên. */
                  /* Cột đầu không có viền trái */
                  &:first-child {
                    padding: 0;
                    border-left: none;
                  }

                  &.width-col-1 {
                    width: 10%;
                  }

                  &.width-col-2 {
                    width: 15%;
                  }

                  &.width-col-3 {
                    width: 30%;
                  }

                  &.width-col-4 {
                    width: 30%;
                  }

                  &.width-col-5 {
                    width: 15%;
                  }

                  &.icon div {
                    margin: auto;
                  }

                  &.score {
                    color: var(--color-btn-google);
                    text-align: center;

                    &.score-win {
                      color: var(--primary-btn-background-color);
                    }
                  }

                  /* Ghim cột icon chế độ chơi */
                  &.fix-column-icon {
                    position: sticky;
                    left: 0;
                    z-index: 5;
                  }

                  /* Ghim cột tỉ số */
                  &.fix-column-score {
                    position: sticky;
                    right: 0;
                    z-index: 5;
                  }
                }
              }
            }
          }
          //footer
          .footer {
            // border: 1px solid red;
            width: 100%;
            .btn-go-to-archive {
              margin: auto;
            }
          }
        }

        // Tab Watch
        .content-tab-watch {
          // border: 1px solid red;
          width: 100%;
          height: calc(100% - (36 / 14 * 1rem) - var(--gap));
          // Input search

          // Danh sách ván đấu của người khác - có sẵn scroll-y
          .list-watches {
            // border: 1px solid red;
            width: 100%;
            height: 100%;
            padding: 0 0.2rem;
            max-width: 100%;
            max-height: none;
            flex-grow: 1;

            table.table-watch {
              table-layout: fixed;
              border-collapse: collapse;
              width: 100%;

              tr {
                height: calc(48 / 14 * 1rem);

                /* Hover row */
                &:hover {
                  cursor: pointer;

                  td {
                    background: var(--color-bg-section);

                    &:first-child {
                      border-top-left-radius: var(--border-radius-default);
                      border-bottom-left-radius: var(--border-radius-default);
                    }

                    &:last-child {
                      border-top-right-radius: var(--border-radius-default);
                      border-bottom-right-radius: var(--border-radius-default);
                    }
                  }
                }

                td {
                  border-bottom: 1px solid rgb(238, 9, 9);
                  height: calc(48 / 14 * 1rem);
                  padding: 0 0.25rem;
                  user-select: none;
                  -webkit-user-select: none;
                  max-width: 0;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  &.width-col-1 {
                    width: 70%;
                  }

                  &.width-col-2 {
                    width: 10%;
                  }

                  &.width-col-3 {
                    width: 20%;
                  }

                  &.player div {
                    // border: 1px solid red;
                    width: 100%;
                    user-select: none;
                    -webkit-user-select: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }

                  &.icon div {
                    margin: auto;
                  }
                }
              }
            }

            .item-watch {
              border-bottom: 1px solid var(--color-icon-youtube);
              width: 100%;
              max-width: 100%;
              gap: 0;

              &:hover {
                cursor: pointer;
                border-radius: var(--border-radius-default);
                background: var(--color-bg-section);
              }
              .players {
                gap: 0.5rem;
                width: 70%;
                max-width: 70%;
                border: 1px solid red;

                .player {
                  border: 1px solid greenyellow;
                  width: calc(100% - 1px);
                  text-align: start;
                  user-select: none;
                  -webkit-user-select: none;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }

              .icon-container {
                width: 15%;
                border: 1px solid red;
                .mi {
                  margin: auto;
                }
              }
              .mode-game {
                width: 15%;
                border: 1px solid red;
                text-align: center;

                user-select: none;
                -webkit-user-select: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

      // Section Players
      &.players {
        // Tab navigation
        nav.tab-list {
          // border: 1px solid red;
          width: 100%;
          height: 5%;
          .tab-item {
            border: none;
            background: transparent;
            width: calc(100% / 3);
            height: 100%;

            &:hover {
              cursor: pointer;
            }

            &.tab-item-active {
              border-bottom: 0.2rem solid var(--color-btn-google);
              color: var(--color-btn-google);
            }
          }
        }

        .content-tab {
          // border: 1px solid red;
          width: 100%;
          height: calc(100% - (36 / 14 * 1rem) - var(--gap));
          // Input search

          // Danh sách kết quả - có sẵn scroll-y
          .list-results {
            // border: 1px solid red;
            width: 100%;
            height: 100%;
            padding: 0 0.2rem;
            max-width: 100%;
            max-height: none;
            flex-grow: 1;

            table.table-results {
              table-layout: fixed;
              border-collapse: collapse;
              width: 100%;

              tr {
                height: calc(48 / 14 * 1rem);

                /* Hover row */
                &:hover {
                  cursor: pointer;

                  td {
                    background: var(--color-bg-section);

                    &:first-child {
                      border-top-left-radius: var(--border-radius-default);
                      border-bottom-left-radius: var(--border-radius-default);
                    }

                    &:last-child {
                      border-top-right-radius: var(--border-radius-default);
                      border-bottom-right-radius: var(--border-radius-default);
                    }
                  }
                }

                td {
                  border-bottom: 1px solid rgb(238, 9, 9);
                  height: calc(48 / 14 * 1rem);
                  padding: 0 0.25rem;
                  user-select: none;
                  -webkit-user-select: none;
                  max-width: 0;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  &.width-col-1 {
                    width: 10%;
                  }

                  &.width-col-2 {
                    width: 70%;
                  }

                  &.width-col-3 {
                    width: 20%;
                  }

                  &.player span {
                    display: inline-block;
                    // border: 1px solid red;
                    width: 100%;
                    user-select: none;
                    -webkit-user-select: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.player-name {
                      width: 85%;
                    }
                    &.player-level {
                      width: 15%;
                    }
                  }

                  &.icon img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--border-radius-default);
                  }

                  &.status {
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
