.footer-container {
  .navigation-pages-component {
    flex-wrap: wrap;

    .link-page-component {
      font-size: calc(12 / 14 * 1rem);
      &:hover {
        scale: 1.2;
        color: transparent;
        background: var(--color-icon-instagram);
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
  }

  .navigation-flatforms-component {
    flex-wrap: wrap;
    margin: 1rem 0;

    .link-flatform-component {
      &:hover {
        scale: 1.2;
      }
    }
  }
}
