.footer-container {
  .navigation-pages-component {
    flex-wrap: wrap;

    .link-page-component {
      font-size: calc(12 / 14 * 1rem);
      &:hover {
        scale: 1.2;
        color: red;
      }
    }
  }

  .navigation-flatforms-component {
    flex-wrap: wrap;
    margin-top: 1rem;

    .link-flatform-component {
      &:hover {
        scale: 1.2;
      }
    }
  }
}
