.menu-container {
  width: 45%; // Mobile
  height: 100vh;
  background-color: var(--color-bg-sidebar);
  display: none; // Mobile

  /* ========== Tablets ========== */
  @media screen and (min-width: 481px) {
    width: 30%;
  }
  /* ========== Laptops ========== */
  @media screen and (min-width: 769px) {
    display: block;
    width: 20%;
  }
  /* ========== Large Laptops ========== */
  @media screen and (min-width: 1025px) {
    display: block;
    width: 20%;
  }
  /* ========== VERY Large Laptops ========== */
  @media screen and (min-width: 1200px) {
    display: block;
    width: 20%;
  }

  /* Logo container */
  .logo-container {
    display: flex;
    height: 48px;
    padding: 0 24px;
    align-items: center;
    justify-content: center;

    /* Logo */
    .logo {
      img {
        height: 36px;
        object-fit: cover;
      }
    }
  }

  .menu-bar {
    .menu-item-list {
      height: calc(100vh - 48px); /* 48px = height logo-container */
      padding: 20px 12px; /* zero */

      .menu-item {
        display: flex;
        height: 44px;
        color: #869ab8;
        cursor: pointer;
        margin-bottom: 4px; /* zero */
        border-radius: var(--border-radius-default); /* zero */
        align-items: center;

        .menu-item__icon {
          display: flex;
          align-items: center;
          margin: 0 12px;
        }

        .menu-item__title {
          color: #869ab8;
        }

        &:hover {
          border-radius: 6px; /* zero */
          background-color: #27395e; /* zero */
        }

        &:active,
        &:focus {
          background-color: #a7c4ff; /* zero */
          border-radius: var(--border-radius-default); /* zero */

          .menu-item__title {
            color: #fff;
          }
        }
      }
    }
  }
}
