.container-dialog {
  transition: all 0.2s;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  /* Background - Bức phủ */
  .dialog-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
  }

  /* Nội dung thật của dialog */
  .dialog-container {
    position: relative;
    /* z-index: 150; */
    min-width: fit-content;
    background: #fff;
    padding: 24px;
    border-radius: var(--border-radius-default);

    /* HEADER */
    .dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      /* TITLE */
      .dialog-title {
        font-size: 20px;
        font-weight: 700;
      }
    }

    /* MAIN */
    .dialog-content {
      width: 100%;
      padding: 24px 0; /* zero */

      /* Message */
      .dialog-description {
        font-size: 14px; /* zero */
        font-weight: 400; /* zero */
        padding-left: 10px;
      }
    }

    /* Footer */
    .dialog-footer {
      width: 100%;
      padding-bottom: 8px;
      /* Button secondary */
      .m-btn-secondary {
        margin-right: 8px; /* zero */
      }
    }
  }
}
