.background {
  height: 100vh;
  background: var(--color-overlay-login)
    url(https://res.cloudinary.com/nvdwebsitecovua/image/upload/v1714120954/image/images/background/chessboard-background_kzc0e7.png)
    no-repeat fixed bottom center;
  background-size: contain;

  .forgot-password-container {
    max-height: 100vh;
    width: 65%; // Screen 320

    @media screen and (min-width: 480px) {
      width: 65%;
    }
    @media screen and (min-width: 640px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) {
      width: 45%;
    }
    @media screen and (min-width: 1024px) {
      width: 35%;
    }
    @media screen and (min-width: 1280px) {
      width: 25%;
    }

    background: var(--color-bg-login);
    border-radius: var(--border-radius-default);
    padding: 2rem;

    header {
      margin-bottom: 2rem;
      h1 {
        //border: 1px solid white;
        color: var(--color-white);
        text-align: center;
        font-size: 2.5rem; // 36px
        font-family: montserrat, sansita;
        text-shadow: 0px 0px 1rem var(--color-white);
      }
    }

    main {
      // Email

      .btn-submit {
        margin: 2rem 0;
      }

      // Ngăn cách
      .seperate-area {
        hr {
          height: 1px;
          width: calc(94% / 2);
        }
        span {
          width: auto;
          color: var(--color-white);
        }
      }

      .oauth2 {
        margin: 2rem 0;
        // border: 1px solid #e6e6e6;
      }
    }

    footer {
      // Login link
      .login-link {
        margin-top: 1rem;
        text-decoration: underline;
        color: rgb(255, 255, 255, 0.5);
        // border: 1px solid #e6e6e6;
        display: block;
        text-align: center;

        &:hover {
          color: var(--color-white);
        }

        // Focus + Focus visible
        &:focus,
        &:focus-visible {
          outline: var(--color-white) solid 1px !important;
          border-radius: var(--border-radius-default);
        }
      }
    }
  }
}
