.background-overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;

  .notfound-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
