table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  td {
    position: relative;
    &.cell-color {
      background: rgb(235, 236, 208);
    }
    &.cell-color-caro {
      background-color: rgb(115, 149, 82);
    }
    &.border-radius-top-left {
      border-top-left-radius: calc(var(--border-radius-default) * 2);
    }
    &.border-radius-top-right {
      border-top-right-radius: calc(var(--border-radius-default) * 2);
    }
    &.border-radius-bottom-left {
      border-bottom-left-radius: calc(var(--border-radius-default) * 2);
    }
    &.border-radius-bottom-right {
      border-bottom-right-radius: calc(var(--border-radius-default) * 2);
    }

    .chess-man {
      user-select: none;

      &:hover {
        cursor: grab;
      }

      &.chess-man-neo {
        height: 100%;
      }
    }

    .maker-row,
    .maker-col {
      position: absolute;
      color: rgb(115, 149, 82);

      &.maker-text-white {
        color: rgb(235, 236, 208);
      }
    }

    .maker-row {
      top: 0;
      left: 0;
    }

    .maker-col {
      bottom: 0;
      right: 0;
    }

    .maker-cell {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
