.container {
  background: var(--color-overlay-login);
  height: 100vh;

  .content {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    h1 {
      color: var(--color-white);
      text-align: center;
      font-size: 2.5rem;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }
  }
}
