/* ===== toast ===== */
.toast-block {
  position: relative;
  height: calc(44 / 14 * 1rem);
  margin-bottom: calc(8 / 14 * 1rem);

  min-width: calc(450 / 14 * 1rem); /* zero */
  max-width: calc(650 / 14 * 1rem); /* zero */
  padding: calc(10 / 14 * 1rem) calc(16 / 14 * 1rem); /* zero */
  border-radius: var(--border-radius-default); /* zero */
  box-shadow: 0 calc(4 / 14 * 1rem) calc(40 / 14 * 1rem) rgba(0, 0, 0, 0.078); /* zero */

  background-color: var(--color-white);

  .toast {
    /* visibility: visible; */
    height: calc(24 / 14 * 1rem); /* zero */
    display: flex;
    align-items: center;

    .toast-text {
      flex: 1;
      font-weight: 400;
      color: #1f1f1f;
      padding: 0 calc(8 / 14 * 1rem); /* zero */

      .toast-title {
        padding-right: calc(8 / 14 * 1rem);
      }
    }

    a {
      font-weight: 500; /* zero */
      text-decoration: underline; /* zero */
      color: #1f1f1f; /* zero */
      cursor: pointer;
      margin-right: calc(16 / 14 * 1rem);
    }
  }

  /* ===== toast success ===== */
  &.toast-success .toast-text .toast-title {
    color: #50b83c;
  }

  /* ===== toast error ===== */
  &.toast-error .toast-text .toast-title {
    color: #ff0000;
  }

  /* ===== toast warning ===== */
  &.toast-warning .toast-text .toast-title {
    color: #b3720a;
  }

  /* ===== toast info ===== */
  &.toast-info .toast-text .toast-title {
    color: #0a71cb;
  }
}
