.header {
  width: 100%;
  height: calc((56 / 14) * 1rem); // 56px ~ font 14px
  padding: 0 calc((16 / 14) * 1rem); // 16px ~ font 14px
  display: flex;
  background-color: var(--color-white);
  justify-content: space-between;
  // border: 1px solid red;

  /* css bên trái */
  .header-left {
    justify-content: left;
    // Icon three stripes
    .mi-three-stripes {
      // margin-right: calc((20 / 14) * 1rem);
    }
  }

  /* css bên phải */
  .header-right {
    justify-content: right;

    /* css account-info */
    a.account-info {
      display: flex;
      align-items: center;
      // margin-left: calc((24 / 14) * 1rem); /* zero */
      cursor: pointer;

      .user-ava {
        border-radius: 50%;
        overflow: hidden;
        margin-right: calc((6 / 14) * 1rem);

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .user-name {
        color: #666666; /* zero */
        font-weight: 500;
        margin-right: calc((8 / 14) * 1rem); /* web tham khảo */
        margin-right: calc((2 / 14) * 1rem); /* zero */
      }
    }
  }
}
