.header {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  border: 1px solid red;

  /* css bên trái */
  .header-left {
    display: flex;
    align-items: center;

    // Icon three stripes
    .mi-three-stripes {
      margin-right: 20px;
    }

    // Branch
    .header-branch {
      display: flex;
      align-items: center;
      cursor: pointer;

      .header-branch-name {
        color: #666666; /* zero */
        font-weight: 500;
        margin-right: 2px; /* zero */
      }
    }
  }

  /* css bên phải */
  .header-right {
    display: flex;
    align-items: center;
    justify-content: right;

    /* css account-info */
    .account-info a {
      display: flex;
      align-items: center;
      margin-left: 24px; /* zero */
      cursor: pointer;

      .user-ava {
        border-radius: 50%;
        overflow: hidden;
        margin-right: 6px;
      }

      .user-name {
        color: #666666; /* zero */
        font-weight: 500;
        margin-right: 8px; /* web tham khảo */
        margin-right: 2px; /* zero */
      }
    }
  }
}
