.play-container {
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 100%;
  }

  flex-wrap: wrap; // Mobile

  /* ========== Tablets ========== */
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  .board-layout-main {
    background: var(--color-bg-section);
    flex-grow: 6;
    flex-basis: 60%; //calc((100% - 1rem) * 0.7);
    padding: 0.5rem;

    height: 56vh; // Mobile 320px

    /* ========== Mobile ========== */
    @media screen and (min-width: 375px) {
      height: 65vh; // Mobile M - 375px
    }
    @media screen and (min-width: 425px) {
      height: 74vh; // Mobile L - 425px
    }

    /* ========== Tablets and Laptops ========== */
    @media screen and (min-width: 768px) {
      height: 100%;
    }

    .board-layout-player-top,
    .board-layout-player-bottom {
      width: 100%;
      height: 8%;

      .opponent,
      .player {
        height: 100%;

        img {
          height: 100%;
          width: auto;
          object-fit: cover;
          border-radius: var(--border-radius-default);
        }
      }

      .time {
        .time-text {
          font-size: var(--font-size-default);
        }
      }
    }

    .board-layout-chessboard {
      position: relative;
      width: 100%;
      flex-grow: 1;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1;
      }

      .chess-board {
        width: var(--width-table-chess-board);
        height: var(--height-table-chess-board);
        border-radius: var(--border-radius-default);
      }
    }
  }

  .board-layout-sidebar {
    background: var(--color-bg-section);
    gap: 0;

    flex-basis: 40%; //calc((100% - 1rem) * 0.5);
    flex-grow: 4;
    // width: 100%; // Mobile 320px
    // /* ========== Tablets ========== */
    @media screen and (min-width: 768px) {
      // width: calc((100% - 1rem) * 0.4);
      // flex-grow: 4;
      height: 100%;
      max-height: 100%;
    }
    // /* ========== Laptops ========== */
    // @media screen and (min-width: 1024px) {
    //   width: 50%;
    // }
    // /* ========== Large Laptops ========== */
    // @media screen and (min-width: 1440px) {
    //   width: 50%;
    // }
  }
}
