.play-container {
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 100%;
  }

  flex-wrap: wrap; // Mobile

  /* ========== Tablets ========== */
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  .board-layout-main {
    background: var(--color-bg-section);
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem;

    height: 56vh; // Mobile 320px

    /* ========== Mobile ========== */
    @media screen and (min-width: 375px) {
      height: 65vh; // Mobile M - 375px
    }
    @media screen and (min-width: 425px) {
      height: 74vh; // Mobile L - 425px
    }

    /* ========== Tablets and Laptops ========== */
    @media screen and (min-width: 768px) {
      height: 100%;
    }

    .board-layout-player-top,
    .board-layout-player-bottom {
      width: 100%;
      height: 8%;

      .opponent,
      .player {
        height: 100%;

        img {
          height: 100%;
          width: auto;
          object-fit: cover;
          border-radius: var(--border-radius-default);
        }
      }

      .time {
        .time-text {
          font-size: var(--font-size-default);
        }
      }
    }

    .board-layout-chessboard {
      position: relative;
      width: 100%;
      flex-grow: 1;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1;
      }

      .chess-board {
        width: var(--width-table-chess-board);
        height: var(--height-table-chess-board);
        border-radius: var(--border-radius-default);
      }
    }
  }

  .board-layout-sidebar {
    background: var(--color-bg-section);
    gap: 0;
    width: 100%; // Mobile 320px
    /* ========== Tablets ========== */
    @media screen and (min-width: 768px) {
      width: calc((100% - var(--gap)) / 2);
      height: 100%;
      max-height: 100%;
    }
    /* ========== Laptops ========== */
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
    /* ========== Large Laptops ========== */
    @media screen and (min-width: 1440px) {
      width: 30%;
    }

    nav.direct-menu-header {
      width: 100%;
      text-align: center;
      gap: 0;
      @media screen and (min-width: 768px) {
        height: 8%;
      }

      .direct-menu-item {
        width: calc(100% / 3);
        height: 100%;
        flex-grow: 1;
        gap: 0;

        &:hover {
          cursor: pointer;
        }

        &.section-selected {
          border-bottom: 0.2rem solid var(--control-border-color--active);
          background: var(--color-bg-section-selected);
          border-radius: var(--border-radius-default);
        }

        .text {
        }
      }
    }

    .option-menu-main {
      // border: 1px solid red;
      flex-grow: 1;
      width: 100%;
      @media screen and (min-width: 768px) {
        height: calc(100% - 8%);
      }

      section {
        background: var(--color-bg-section-selected);
        height: 100%;
        padding: 0.5rem;

        // Section New Game
        &.new-game {
          // Có sẵn Scroll-y
          .direct-menu-items {
            border: 1px solid red;
            flex-grow: 1;

            width: 60%; // Mobile 320px
            @media screen and (min-width: 768px) {
              width: 100%;
              max-height: calc(100% - 8%); // Footer: 8%
            }

            .game-mode {
              width: 100%;

              // Button Mode Game
              a.btn-mode-game-selected {
                background: var(--color-bg-section);
                border: 1px solid var(--color-bg-login);
                border-radius: var(--border-radius-default);
                position: relative;
                height: calc(56 / 14 * 1rem);
                min-width: max-content;
                padding: 0.5rem;

                .text {
                  font-size: calc(17 / 14 * 1rem);
                }

                // Icon Arrow Dropdown
                .mi-arrow-dropdown {
                  position: absolute;
                  top: 50%;
                  right: 0.5rem;
                  transform: translateY(-50%);
                }
              }

              .options-mode-game {
                .option-mode-game-category {
                  margin: 0.5rem 0;
                  label {
                    gap: 0;

                    .title-category {
                    }
                  }

                  .option-mode-game-group {
                    // Thẻ a
                    .option-mode-game-item {
                      width: calc((100% - 2rem) / 3);
                      text-align: center;
                      line-height: calc(46 / 14 * 1rem);
                      background: var(--color-bg-section);
                      outline: 1px solid transparent;
                      border-radius: var(--border-radius-default);

                      &:hover,
                      &:focus,
                      &:active,
                      &:focus-visible {
                        outline: 1px solid
                          var(--primary-btn--hover-background-color);
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }

            // Button PLAY
            .btn-play {
              width: 100%;
              height: calc(60 / 14 * 1rem);
              font-size: calc(22 / 14 * 1rem);
              font-family: montserrat sansita;
            }

            .group-play-other {
              width: 100%;

              .btn-play-friend,
              .btn-tournaments {
                width: 100%;
                margin-top: var(--gap);
                height: calc(60 / 14 * 1rem);
                font-size: calc(22 / 14 * 1rem);
                font-family: montserrat sansita;
              }
            }
          }

          //footer
          .direct-menu-footer {
            width: 100%;
            border: 1px solid red;
            @media screen and (min-width: 768px) {
              height: 8%;
            }

            .information {
              text-wrap: nowrap;
              .number {
                font-size: calc(15 / 14 * 1rem);
                font-weight: 700;
                font-family: montserrat NVD Fonts;
                margin-right: 0.5rem;
              }
              .text {
                font-size: calc(12 / 14 * 1rem);
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
