.container {
  width: 100%;
  height: 100vh;

  position: relative;

  .oauth2 {
    position: absolute;
  }

  .loading {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 50%;
    left: 50%;

    border: 20px solid greenyellow;
    border-radius: 50%;
    border-top-color: var(--color-btn-google);
    border-left-color: var(--primary-btn-background-color);
    border-bottom-color: var(--color-icon-facebook);
    border-right-color: yellowgreen;

    animation: rotate 3s infinite 0s linear both;
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }

  100% {
    transform: scale(5) rotate(360deg);
  }
}
