.m-combobox {
  position: relative;
}

.m-combobox .m-combobox-content {
  display: flex;
  width: 100%;
  height: 36px;
  /* margin-top: 8px; */
  border-radius: 3px;
  background-color: #fff;
  border-color: #e6e6e6;
}

.m-combobox .m-combobox-content input {
  display: block;
  width: 100%;
  height: var(--rounded-button-height); /* zero */
  height: 36px;
  border-top-left-radius: var(--border-radius-default);
  border-bottom-left-radius: var(--border-radius-default);
  background-color: transparent;
  border: solid 1px #e6e6e6;
  padding: 0 12px;
}

.m-combobox .m-combobox-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 40px;
  padding: 0 12px;
  border: solid 1px #e6e6e6;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  background-color: transparent;
}

.m-combobox .m-combobox-content a:focus {
  outline: #2ca01c solid 1px;
}

/* combobox hover */
.m-combobox-hover .m-combobox-content {
  background-color: #f6f6f6 !important; /* zero */
}

/* combobox active bằng class .m-combobox-active */
.m-combobox-active .m-combobox-content input {
  border-top-color: #50b83c !important; /* zero */
  border-left-color: #50b83c !important;
  border-bottom-color: #50b83c !important;
}
.m-combobox-active .m-combobox-content a {
  border-top-color: #50b83c !important; /* zero */
  border-right-color: #50b83c !important;
  border-bottom-color: #50b83c !important;
}

/* combobox error thông qua class warning */
.warning-input input {
  border-top-color: red !important; /* zero */
  border-left-color: red !important;
  border-bottom-color: red !important;
}

.warning-input a {
  border-top-color: red !important; /* zero */
  border-right-color: red !important;
  border-bottom-color: red !important;
}

.warning-text {
  display: block;
  position: absolute;
  top: calc(100% + 8px);
  /* margin-top: 8px; */
  color: red;
  font-size: 12px;
}
